@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  /* font face's taken from https://fonts.googleapis.com/css2?family=Jersey+10&display=block  */
  /* latin-ext */
  @font-face {
    font-family: "Jersey 10";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/font/jersey-10/latin-ext.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Jersey 10";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/font/jersey-10/latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  :root {
    --aside-width: 586px;
    --aside-header-height: 110px;
    --aside-summary-height: 280px;
    --yamaha-shadow-color: theme(colors.neutral.50);
  }

  .dark:root {
    --yamaha-shadow-color: theme(colors.neutral.500);
  }

  html,
  body {
    @apply font-body text-neutral-800 dark:text-neutral-300;
  }

  body {
    @apply bg-neutral-200 font-body dark:bg-neutral-800;
  }

  /* TODO: re figure out our header situation, this is causing a lot of global styles to be applied poorly */
  h1,
  h2,
  h3 {
    @apply font-heading text-[64px] font-normal leading-[75%] tracking-[-0.64px] text-neutral-600 dark:text-neutral-300;
  }

  a {
    @apply text-black hover:text-success-brand dark:text-white;
  }
}

@layer components {
  .policy-container h2 {
    @apply font-body text-2xl font-bold;
  }

  .hero-frame {
    background: linear-gradient(
      90deg,
      #000 0%,
      #000002 4.03%,
      #2f2f2e 22.5%,
      #5b5d63 40.35%,
      #696b6e 55.69%,
      #595a5e 63.06%,
      #2d2d31 79.31%,
      #000003 96.74%,
      #111113 100%
    );
    box-shadow:
      0px -8px 12px 0px rgba(0, 0, 0, 0.25) inset,
      0px 17px 16px 0px rgba(0, 0, 0, 0.3) inset,
      0px 4px 5px 0px rgba(0, 0, 0, 0.5) inset,
      0px -4px 0px 0px rgba(0, 0, 0, 0.15),
      0px 4px 0px 0px rgba(255, 255, 255, 0.05);
  }

  .hero-gradient-mask {
    box-shadow:
      0px 2px 0px 0px #6a98a7,
      0px 4px 6px 0px rgba(85, 164, 175, 0.5) inset,
      0px -2px 1px 0px rgba(172, 255, 252, 0.3) inset,
      0px 3px 2px 0px rgba(105, 255, 249, 0.2) inset,
      0px 0px 30px 0px rgba(105, 255, 249, 0.5) inset,
      0px 1px 1px 0px rgba(0, 0, 0, 0.4),
      0px 5px 2px 0px rgba(255, 255, 255, 0.1);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 2, 0.5) 4.03%,
      rgba(47, 47, 46, 0.5) 22.5%,
      rgba(91, 93, 99, 0.5) 40.35%,
      rgba(105, 107, 110, 0.5) 55.69%,
      rgba(89, 90, 94, 0.5) 63.06%,
      rgba(45, 45, 49, 0.5) 79.31%,
      rgba(0, 0, 3, 0.5) 96.74%,
      rgba(17, 17, 19, 0.5) 100%
    );
    mix-blend-mode: screen;
  }
}

@layer utilities {
  .text-shadow-hero {
    text-shadow:
      4px 0px 4px rgba(0, 102, 255, 0.2),
      -4px 0px 4px rgba(255, 0, 0, 0.2),
      0px 0px 3px rgba(0, 0, 0, 0.4),
      0px 0px 24px rgba(40, 166, 159, 0.4);
  }
}
