@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  html,
  body {
    @apply font-body text-neutral-800 dark:text-neutral-300;
  }

  body {
    @apply bg-neutral-200 font-body dark:bg-neutral-800;
  }

  h1,
  h2,
  h3 {
    @apply font-heading text-5xl font-bold tracking-tightest text-neutral-600 dark:text-neutral-300;
  }
}

/*
  TODO: this should probably be moved to a different file that handles
  container overrides for data coming from Shopify CMS
*/
.policy-container h2 {
  @apply font-body text-2xl font-bold;
}
