@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  :root {
    --aside-width: 586px;
    --aside-header-height: 110px;
    --aside-summary-height: 280px;
    --yamaha-shadow-color: theme(colors.neutral.50);
  }

  .dark:root {
    --yamaha-shadow-color: theme(colors.neutral.500);
  }

  html,
  body {
    @apply font-body text-neutral-800 dark:text-neutral-300;
  }

  body {
    @apply bg-neutral-200 font-body dark:bg-neutral-800;
  }

  h1,
  h2,
  h3 {
    @apply font-heading text-5xl font-bold tracking-tightest text-neutral-600 dark:text-neutral-300;
  }

  a {
    @apply text-black hover:text-success-brand dark:text-white;
  }
}

/*
  TODO: this should probably be moved to a different file that handles
  container overrides for data coming from Shopify CMS
*/
.policy-container h2 {
  @apply font-body text-2xl font-bold;
}

.hero-subtitle {
  color: rgba(0, 0, 0, 0.8);
  text-shadow:
    4px 0px 4px rgba(0, 102, 255, 0.2),
    -4px 0px 4px rgba(255, 0, 0, 0.2),
    0px 0px 3px rgba(0, 0, 0, 0.4),
    0px 0px 24px rgba(40, 166, 159, 0.4);

  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.hero-title {
  color: rgba(0, 0, 0, 0.8);
  text-shadow:
    4px 0px 4px rgba(0, 102, 255, 0.2),
    -4px 0px 4px rgba(255, 0, 0, 0.2),
    0px 0px 3px rgba(0, 0, 0, 0.4),
    0px 0px 24px rgba(40, 166, 159, 0.4);

  font-style: normal;
  font-weight: 400;
  line-height: 75%; /* 63px */
  text-transform: capitalize;
}
