@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-title: "Lexend Zetta", ui-sans-serif, system-ui, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-sm: 430px;
  --breakpoint-md: 810px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1640px;
  --breakpoint-2xl: 2000px;
  --breakpoint-3xl: 2700px;

  --color-*: initial;
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;

  --color-cyan-brand: #3defe9;

  --color-blue-brand: #3992ff;
  --color-blue-600: #367cff;
  --color-blue-led: #c8dfea;

  --color-green-brand: #6bd968;

  --color-yellow-brand: #fecc1b;

  --color-pink-brand: #d83bd2;

  --color-red-brand: #f44250;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-neutral-50: #f1f1ec;
  --color-neutral-100: #eaeae4;
  --color-neutral-200: #e3e2dd;
  --color-neutral-300: #dadada;
  --color-neutral-400: #808080;
  --color-neutral-500: #59585c;
  --color-neutral-600: #434343;
  --color-neutral-700: #343436;
  --color-neutral-800: #242426;
  --color-neutral-900: #1d1d1e;

  --color-shop-pay: #5a31f4;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.4rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 5.25rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --ease-snap: cubic-bezier(0.13, 0.74, 0.41, 0.92);

  --animate-pulse-radial: pulse-radial 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-check-appear: check-appear 400ms var(--ease-snap) 200ms forwards;
  --animate-check-appear-delay: check-appear 400ms var(--ease-snap) 200ms
    forwards;

  --animate-spin: spin 3s linear infinite;

  @keyframes pulse-radial {
    0%,
    100% {
      background-size: 20% 20%;
    }
    50% {
      background-size: 80% 80%;
    }
  }

  @keyframes check-appear {
    0% {
      transform: scale(0.75) rotate(-12deg);
    }

    30% {
      transform: rotate(10deg);
    }

    100% {
      transform: scale(1) rotate(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/font/inter-roman-latin-var.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("/font/inter-italic-latin-var.woff2") format("woff2");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/font/jet-brains-mono.woff2") format("woff2");
  }

  @font-face {
    font-family: "Lexend Zetta";
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src: url("/font/lexend-zetta-black.woff2") format("woff2");
  }

  :root {
    --header-height: 80px;

    @media (width >= theme(--breakpoint-md)) {
      --header-height: 136px;
    }
  }

  .dark {
    color-scheme: dark;
  }

  html,
  body {
    @apply font-sans text-white scheme-dark;
  }

  a {
    @apply text-white hover:text-blue-600 transition-colors duration-300 ease-in-out;
  }
}

@utility icon-animation {
  --animated-link-duration: 200ms;
  --animated-link-delay: 150ms;

  transition:
    max-width var(--animated-link-duration) var(--ease-snap)
      var(--animated-link-delay),
    margin var(--animated-link-duration) var(--ease-snap)
      var(--animated-link-delay),
    scale var(--animated-link-duration) var(--ease-snap),
    opacity var(--animated-link-duration) var(--ease-snap);

  @variant group-hover {
    transition:
      max-width var(--animated-link-duration) var(--ease-snap),
      margin var(--animated-link-duration) var(--ease-snap),
      scale var(--animated-link-duration) var(--ease-snap)
        var(--animated-link-delay),
      opacity var(--animated-link-duration) var(--ease-snap)
        var(--animated-link-delay);
  }
}

@utility add-to-cart-icon {
  transform: scale(0.75) rotate(-12deg);
  animation: var(--animate-check-appear-delay);
}

@utility rich-text {
  ul {
    list-style: none;
  }
  ul li {
    position: relative;
    padding-left: 1em;
    line-height: 1.6em;
  }
  ul li::before {
    content: "•";
    position: absolute;
    left: 0;
  }
}

@utility policy-container {
  @apply -mt-12 px-9;

  & h2 {
    @apply mt-12 text-2xl leading-tight font-bold md:text-4xl md:leading-tight lg:text-[2.5rem] lg:leading-tight;
  }

  & p {
    @apply mt-6 text-sm lg:text-base;
  }

  & a {
    @apply text-blue-brand hover:underline;
  }
}
