@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
  color-scheme: dark;
}

a {
  @apply text-black dark:text-white;
}

html,
body,
main {
  @apply bg-neutral-200 dark:bg-neutral-800;
}
