@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutral-600 dark:text-neutral-300;
}

.dark {
  color-scheme: dark;
}

a {
  @apply text-black dark:text-white;
}

html,
body {
  @apply bg-white dark:bg-black font-body;
  @apply text-black dark:text-white;
}

h1,h2,h3 {
  @apply text-5xl font-bold font-heading text-black dark:text-white tracking-tightest;
}

p, b, strong, span, li, em {
  @apply text-black dark:text-white text-base;
}
