@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutral-600 dark:text-neutral-300;
}

.dark {
  color-scheme: dark;
}

a {
  @apply text-black dark:text-white;
}

html,
body {
  @apply bg-neutral-200 dark:bg-neutral-800;
  @apply text-black dark:text-white;
}
