@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  html,
  body {
    @apply bg-neutral-200 dark:bg-neutral-800 font-body;
    @apply text-neutral-800 dark:text-neutral-300;
  }

  h1,
  h2,
  h3 {
    @apply text-5xl font-bold font-heading text-neutral-600 dark:text-neutral-300 tracking-tightest;
  }
}

/*
  TODO: this should probably be moved to a different file that handles
  container overrides for data coming from Shopify CMS
*/
.policy-container h2 {
  @apply text-2xl font-body font-bold;
}
